/* all variables */

<<<<<<< HEAD
/* colors */
$backgroundColorBlue: #017b92;
$backgroundColorRed: #8f2022;

/* templating */
$widthMax: 100vw;
$heightMax: 100vh;

/* fontstuff */
=======
//colors
$backgroundColorBlue: #017b92;

// font stuff
>>>>>>> 9b4d9b4182a9f067a9d8d56739c79c30821aa9d8
$fontColor: white;
$font: helvetica, sans-serif;
