.chosen {
  background-color: $backgroundColorRed;
  width: $widthMax;
  height: $heightMax;

  a {
    margin-left: 1em;
    padding: 1em;
    svg {
      margin-top: 2em;
    }
  }

  h1 {
    padding: 1em 0 2em 1.4em;
    font-size: 2em;
  }

  .selections {
    margin-left: 1em;
    .circle {
      background: #D8D8D8;
      height: 4.5rem;
      width: 4.5rem;
      margin-bottom: 1rem;
      margin-left: 1.2rem;
      border-radius: 50%;
      border: 3px solid skyblue;
    }
  }

  .user--picked {
    display: flex;
    flex-direction: row;
    align-items: center;
    em {
      padding-left: .3em;
    }
  }

}
