body {
	width: 20rem;
	height: 32rem;
	margin: auto;
}

.selection-screen {
	background: #fff;
	height: 100%;
	// width: 20rem;
	// height: 32rem;
	margin: auto;
	padding: .8rem;
	overflow-y: scroll;

	p {
		text-align: center;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		background: #D8D8D8;
		height: 6rem;
		width: 6rem;
		margin-bottom: .8rem;
		border-radius: 50%;

		& .selected {
			border: solid skyblue 2px;
		}
	}
}